In [5]:
import numpy as np
import pandas as pd
X = pd.DataFrame(
    np.array([5,7,8, np.NaN, np.NaN, np.NaN, -5,
              0,25,999,1,-1, np.NaN, 0, np.NaN])\
              .reshape((5,3)))

X.columns = ['f1', 'f2', 'f3'] #feature 1, feature 2, feature 3
X

      f1   f2    f3
0    5.0  7.0   8.0
1    NaN  NaN   NaN
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0
4    NaN  0.0   NaN

In [10]:
X.dropna(axis=0, thresh=1, inplace=True)
X

   level_0     f1   f2    f3
0        0    5.0  7.0   8.0
1        1   -5.0  0.0  25.0
2        2  999.0  1.0  -1.0
3        3    NaN  0.0   NaN

In [11]:
X.reset_index(inplace=True)
X

   index  level_0     f1   f2    f3
0      0        0    5.0  7.0   8.0
1      1        1   -5.0  0.0  25.0
2      2        2  999.0  1.0  -1.0
3      3        3    NaN  0.0   NaN

In [12]:
X.drop(['index'], axis=1, inplace=True)
X

   level_0     f1   f2    f3
0        0    5.0  7.0   8.0
1        1   -5.0  0.0  25.0
2        2  999.0  1.0  -1.0
3        3    NaN  0.0   NaN

In [16]:
from sklearn.impute import MissingIndicator

X.replace({999.0 : np.NaN}, inplace=True)
indicator = MissingIndicator(missing_values=np.NaN)
indicator = indicator.fit_transform(X)
indicator = pd.DataFrame(indicator, columns=['m1', 'm3'])

ValueError: Shape of passed values is (5, 3), indices imply (5, 2)

In [14]:
X

   level_0   f1   f2    f3
0        0  5.0  7.0   8.0
1        1 -5.0  0.0  25.0
2        2  NaN  1.0  -1.0
3        3  NaN  0.0   NaN

In [19]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit_transform(X)
X

array([[ 5.        ,  7.        ,  8.        ],
       [ 0.        ,  2.        , 10.66666667],
       [-5.        ,  0.        , 25.        ],
       [ 0.        ,  1.        , -1.        ],
       [ 0.        ,  0.        , 10.66666667]])

    f1   f2    f3
0  5.0  7.0   8.0
1  NaN  NaN   NaN
2 -5.0  0.0  25.0
3  NaN  1.0  -1.0
4  NaN  0.0   NaN